<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>BS4 + Wordpress</title>
</head>

<body>
    <div class="container">
        <div class="row my-5 align-items-center">
            <div class="col-md-8 col-sm-12">
                <h1>Meu primeiro tema</h1>
                <p class="lead">Fiz com wordpress</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <form action="#" method="get" accept-charset="utf-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="o que procura?">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success">buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col mb-5">
                <nav class="navbar navbar-expand-lg navbar-dark bg-my-color-1 rounded">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menuNavbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Início</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Projetos</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Novidades</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Planos</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="" class="nav-link">Contato</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card">
                    <img class="card-img-top" src="assets/image.jpeg" alt="donuts">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Elit excepteur.</h5>
                        <a href="" title="" class="btn btn-my-color-1">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card">
                    <img class="card-img-top" src="assets/image.jpeg" alt="donuts">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Ut irure.</h5>
                        <a href="" title="" class="btn btn-my-color-1">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-5">
                <div class="card">
                    <img class="card-img-top" src="assets/image.jpeg" alt="donuts">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Irure ullamco eiusmod.</h5>
                        <a href="" title="" class="btn btn-my-color-1">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="blog-post">
                    <h3 class="mb-3 pb-2 border-bottom"><a href="#" title="">Lorem ipsum dolor sit amet.</a></h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href="" title="">

                            <img src="assets/image.jpeg" class="img-fluid rounded" alt="Imagem donuts">
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                    </div>
                    <p class="text-muted">Publicado: <span class="badge badge-my-color-1">12/12/2018</span></p>
                </div>
                <div class="blog-post">
                    <h3 class="mb-3 pb-2 border-bottom"><a href="#" title="">Lorem ipsum dolor sit amet.</a></h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href="" title="">

                            <img src="assets/image.jpeg" class="img-fluid rounded" alt="Imagem donuts">
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                    </div>
                    <p class="text-muted">Publicado: <span class="badge badge-my-color-1">12/12/2018</span></p>
                </div>
                <div class="blog-post">
                    <h3 class="mb-3 pb-2 border-bottom"><a href="#" title="">Lorem ipsum dolor sit amet.</a></h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href="" title="">

                            <img src="assets/image.jpeg" class="img-fluid rounded" alt="Imagem donuts">
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                    </div>
                    <p class="text-muted">Publicado: <span class="badge badge-my-color-1">12/12/2018</span></p>
                </div>
                <div class="blog-post">
                    <h3 class="mb-3 pb-2 border-bottom"><a href="#" title="">Lorem ipsum dolor sit amet.</a></h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mb-3">
                            <a href="" title="">

                            <img src="assets/image.jpeg" class="img-fluid rounded" alt="Imagem donuts">
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-6 mb-3">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </div>
                    </div>
                    <p class="text-muted">Publicado: <span class="badge badge-my-color-1">12/12/2018</span></p>
                </div>
                <div class="blog-pagination mb-5">
                    <a href="#" title="" class="btn btn-outline-primary">Mais antigos</a>
                    <a href="#" title="" class="btn btn-outline-primary">Mais novos</a> </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card mb-4">
                    <h5 class="card-header">Categorias</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="" title="">Projetos</a></li>
                            <li><a href="" title="">Novidades</a></li>
                            <li><a href="" title="">Planos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">Últimos</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="" title="">Et dolore.</a></li>
                            <li><a href="" title="">Dolore irure ad laborum est.</a></li>
                            <li><a href="" title="">Cupidatat laboris.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <h5 class="card-header">Links</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="" title="">Instagram</a></li>
                            <li><a href="" title="">Twitter</a></li>
                            <li><a href="" title="">LinkedIn</a></li>
                            <li><a href="" title="">YouTube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 bg-my-color-1 border-top border-dark mt-5">
        <div class="container">
            <div class="row">
                <div class="col py-5 text-center text-white">
                    <h5>Fábrica de Donuts</h5>
                    <p class="mb-0">Fábrica de Donuts agora em Brasília!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/popper.js"></script>
</body>

</html>